body {
  background-color: #FFFEF4;
}

/*Navbar*/
.navbar-style {
/*	background-color: #0c8351 !important;*/
}	

.nav-link.active {
	border-bottom: 2px solid #ffffff;
}


/*Search */
.from-button {
	/*margin: 0;*/
	/*padding: 0;*/
	/*background-color: gray;*/
}

.dropdown-button {

}

.dropdown-button .btn {
	color: #FFFEF4;
	background-color: #8FBC8F;
	width: 50%;
	/*border: solid;*/
}

.search-inputs {
	/*margin-top: 0px;
	/*display: flex;*/
}

.search-inputs input {
	/*background-color: white;*/
	/*border: 0 !important;*/
	/*border-top-right-radius: 0px !important;*/
	/*border-bottom-right-radius: 0px !important;*/
	/*font-size: 18px;*/
	/*padding: 15px;*/
	/*height: 30px;*/
}

/*Board*/
.hand-icon {
	cursor: pointer;
}

.highlight-clock {
	background-color: #ffb6c1;
}

.highlight-move {
	background-color: #00FFFF;
}


/* Sidebar */
.sidebar-header {
/*	border-bottom-style: solid;
	border-bottom-width: thick;*/
}

.collapse-sidebar-btn {
	border: solid;
	font-size: 30px;
}

.sidebar-heading {
	font-size: 30px;
	font-weight: bold;
}